.container {
  padding: 0 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contentBox {
  display: flex;
  justify-content: space-between;
}
.more {
  font-size: 0.875rem;
}
.title {
  font-size: 1rem;
}

@media screen and (min-width: 800px) {
  .container {
    padding: 0 70px;
  }
  .title {
    font-size: 1.5rem;
  }
}
