@keyframes apear {
  from {
    transform: scale(90%);
    opacity: 0;
  }
  to {
    transform: scale(100%);
    opacity: 1;
  }
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  color: var(--color-black);
}
.title {
  margin: 0.5rem 0;
  font-size: 1rem;
}
.textForm {
  width: 100%;
}
.commentInput {
  display: flex;
  padding: 10px 0;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}
.textArea {
  margin: 0;
  width: 100%;
  resize: none;
  line-height: 130%;
  border: 1px solid #e4eaef;
  padding: 0.875rem;
  overflow: auto;
}
.button {
  all: unset;
  text-align: center;
  font-size: 0.75rem;
  padding: 0.375rem 0.5rem;
  background: var(--color-black);
  color: var(--color-light-gray);
  border-radius: 5px;
}
.commentBox {
  padding: 5px 0;
}
.commentBox:nth-child(3) {
  animation: apear 1s normal 0s 1;
}

.authorName {
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.25rem 0;
}
.date {
  display: block;
  font-size: 0.75rem;
  color: rgb(159, 167, 167);
}
.rating {
  display: flex;
  align-items: center;
  padding: 0.25rem 0;
}
.commentText {
  font-size: 0.75rem;
  margin: 0.5rem 0;
}

@media screen and (min-width: 800px) {
  .title {
    font-size: 1.5rem;
  }
  .button {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
  }
  .authorName {
    font-size: 1rem;
  }
  .date {
    font-size: 0.75rem;
  }
  .commentText {
    font-size: 0.875rem;
  }
}
