.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 100%;
}
.pictureBox {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.imageBox {
  width: 100%;
  object-fit: contain;
}
.detail {
  font-size: 0.8rem;
  overflow: hidden;
}

@media screen and (min-width: 800px) {
  .container {
    width: 18%;
  }
  .imageBox {
    object-fit: contain;
  }
}
