.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 50vw;
  min-height: 250px;
  background-color: var(--color-black);
  padding: 10px 20px;
  padding-top: 15px;
}
.title {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: var(--color-light-gray);
  margin: 0;
}
.imageBox {
  width: 100%;
  flex: 1;
  background: center / contain no-repeat
    url('https://play-lh.googleusercontent.com/aMlfUmxbKloMNhSP0mHBGhRlNn4GPP6HfYI0aVvweJ47U9ys9KQAHS5lW01EDRUmkNg=w1052-h592-rw');
}
.indicatorContainer {
  height: 7px;
  display: flex;
  gap: 5px;
  justify-content: center;
}
.indicator {
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #fff;
  border-radius: 50%;
}
.indicator.active {
  width: 25px;
  border-radius: 10px;
}
@media screen and (min-width: 800px) {
  .container {
    height: 500px;
  }
}
