.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20 px;
  width: 100vw;
  height: 50vw;
  min-height: 250px;
  background-color: var(--color-black);
  padding: 10px 20px;
  padding-top: 15px;
  transform: translateX(-20px);
}
.title {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: var(--color-light-gray);
  margin: 0;
}

@media screen and (min-width: 800px) {
  .container {
    height: 500px;
    padding: 20px 70px;
    transform: translateX(-70px);
  }
  .title {
    font-size: 1.2rem;
  }
}
